body {
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c1c1c;
    overflow: hidden;
    position: relative;
    color: white;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    background-color: #d3d3d3;
    color: #1c1c1c;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
}

#urlInput {
    padding: 0;
    padding-left: 0.5em;
    width: 80vw;
    height: 10vh;
    border: 0;
    outline: 0;
    color: white;
    background-color: #1d1d1d;
    font-size: 5vh;
    border-radius: 8px;
    margin-bottom: 10px;
}

#searchButton {
    width: 20vw;
    height: 10vh;
    border: 0;
    outline: 0;
    color: #1c1c1c;
    background-color: aliceblue;
    font-size: 5vh;
    border-radius: 8px;
    margin-bottom: 10px;
}

#iframeWindow {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    left: 0;
    top: 0;
    background-color: #141414;
    z-index: 0;
}
